## Defining Variables

In [ ]:
_a1 = 1

In [ ]:
__a = 1

In [ ]:
a@gmail.com = 1

In [ ]:
if = 2

In [ ]:
a = 1
type = 1
type(a)

In [ ]:
len = 1

In [ ]:
a = [1,2,3]

In [ ]:
len(a)

In [ ]:
count = 100
kilometers = 1000.0
name = "Hardik"

In [ ]:
print(count, kilometers, name)

In [ ]:
a,b,c = 1,2, "John Doe"
print(a, b,c)

In [ ]:
a,b,c=1,2,"Diwakar"
print(a,b,c)

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
a = 3.3j
b = c = 4

In [ ]:
a, b, c

In [ ]:
for i in [b,c]:
    print(type(i))

In [ ]:
print("Hello World")

In [12]:
[[] for _ in range(len([1,2,3,4,5]))]

[[], [], [], [], []]

In [35]:
class Graph:
    def __init__(self, num_nodes, edges) -> None:
        self.num_nodes = num_nodes
        self.data = [[] for _ in range(num_nodes)]
        for n1, n2 in edges:
            self.data[n1-1].append(n2)
            self.data[n2-1].append(n1)

In [36]:
a = 1
print(id(a))
a = 2
print(id(a))

4339788080
4339788112

In [37]:
nodes = 5
edges = [(1,2), (2,1), (2,3), (3,2), (1,3), (3,1), (3,4), (4,3), (2,4), (4,2), (2,5), (5,2), (4,5), (5,4)]

In [38]:
graph = Graph(num_nodes = nodes, edges=edges)

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
graph

In [ ]:
str1 = "Python is a programming language"
[i.strip() for i in str1.split("is")]

In [ ]:
help(str.find)

In [8]:
firstname, lastname = "Hardik", "Dhuri"

"{1} {0}".format(firstname, lastname)

'Dhuri Hardik'

In [16]:
details = ["Hardik", "Dhuri", 7,5,6,7,7,9,9,3,9,5, "Supreme Society, Daman", "396210"]
details

['Hardik',
 'Dhuri',
 7,
 5,
 6,
 7,
 7,
 9,
 9,
 3,
 9,
 5,
 'Supreme Society, Daman',
 '396210']

# Learning List

> From here on we will start learning list `List`
<br>
`a = [1, 2, 3, "Hardik", "Dhuri"]`

In [17]:
ks= [1,2,3] * 3

In [18]:
ks

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
ls = [7,8,9]
ks + ls

[1, 2, 3, 1, 2, 3, 1, 2, 3, 7, 8, 9]

In [20]:
L = [10, 2, 3, 'abes', 12.5]

In [21]:
L

[10, 2, 3, 'abes', 12.5]

In [25]:
def print_ids(iterator):
    print("iterator",id(iterator))
    for item in iterator:
        print(item, id(item))

In [26]:
print_ids(L)

iterator 4427844800
10 4339788368
2 4339788112
3 4339788144
abes 4428036656
12.5 4427709776

In [27]:
L[0] = 12

In [28]:
print_ids(L)

iterator 4427844800
12 4339788432
2 4339788112
3 4339788144
abes 4428036656
12.5 4427709776

In [29]:
l2 = "Hardik"
print(id(l2))

4409164336

In [30]:
l2[0] = "G"

TypeError: 'str' object does not support item assignment

In [31]:
l2 = "Z" + l2[1:]

In [32]:
l2

'Zardik'

In [33]:
print(id(l2))

4427799472

In [39]:
name = input("Enter your name: ")

In [40]:
name

'Apple'

In [43]:
age = int(input("Enter your age: ")) * 2

In [42]:
type(age)

int

In [44]:
age

42

In [48]:
nums = [int(item) for item in input("Enter Sequence: ").split(" ")]
print(nums)

[1, 2, 3, 4]

## Tuples

> We will be starting with tuples. Immutable datatype
<br>
`a = (1,2,3)` <br> 
They are represented with round braces

In [49]:
a = (1,2, "Hardik")

In [50]:
a

(1, 2, 'Hardik')

In [51]:
print(a)

(1, 2, 'Hardik')

In [52]:
tuple1 = ('abcd', 782, 2.23, 'Martin', 70.2)

In [53]:
tuple1

('abcd', 782, 2.23, 'Martin', 70.2)

In [54]:
tuple2 = (123, 'Martin')

In [55]:
tuple1[0]

'abcd'

In [56]:
tuple1[0] = "Hi"

TypeError: 'tuple' object does not support item assignment

In [61]:
tuple2 * 0

()

In [62]:
hs = {}
hs['one'] = "This is Python"

In [63]:
hs

{'one': 'This is Python'}

In [64]:
type(hs)

dict

In [65]:
hs[2] = "This is Dart"

In [66]:
hs

{'one': 'This is Python', 2: 'This is Dart'}

In [71]:
for i in hs.keys():
    print(hs[i])

This is Python
This is Dart

In [74]:
dict2 = {
    'name': "Prasad Kapse",
    'id' : 420, 
    'dept': 'Computer Science and Dhoka'
}

In [75]:
dict2

{'name': 'Prasad Kapse', 'id': 420, 'dept': 'Computer Science and Dhoka'}

In [80]:
def print_dict(dict):
    for i in dict.keys():
        print(f"{i}: {dict[i]}")

In [81]:
print_dict(dict=dict2)

name: Prasad Kapse
id: 420
dept: Computer Science and Dhoka

In [82]:
print(dict2.values())

dict_values(['Prasad Kapse', 420, 'Computer Science and Dhoka'])

In [86]:
count = 0
while (count < 9):
    print(count+1, "Hello World")
    count += 1

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [92]:
count = 0
while count < 5:
    print(count, "Count is less then 5")
    count += 1
else:
    print("Khatam Tata Bye Bye")
    print(count, "Count is more then 5")
    print("Loop ended.")

0 Count is less then 5
1 Count is less then 5
2 Count is less then 5
3 Count is less then 5
4 Count is less then 5
Khatam Tata Bye Bye
5 Count is more then 5
Loop ended.

In [98]:
def print_name():
    name = input("Enter your name: ")
    for char in name:
        print(char)
    else:
        print(f"Total number of characters: {len(name)}")
        print("Humara karyakram yahi samapt hota h!")

In [99]:
print_name()

H
a
r
d
i
k

D
h
u
r
i
Total number of characters: 12
Humara karyakram yahi samapt hota h!